body{
    width: 100%;
    max-width: 1200px;
    margin: 0;
    background-image: url(imagenes/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
header{
    
    background-color: black;
    text-align: center;
    padding: 10px;   
}
#logo{
    width: 10%;
}
#titulo{

    margin: 0;
    color: white;
    font-size: 2em;
    padding: 10px 0;
    

}
#btn{
    margin-top: 0;
}
main{
    width: 60%;
    margin: auto;
    padding: 60px;
    background: rgba(255, 255, 255, .6);
    display: flex;
    gap: 50px;
}
#imagen{

    width: 30%;
}
#palabra_a_adivinar{
    height: 30%;
    vertical-align: bottom;
    
}
#palabra_a_adivinar span{
   vertical-align: bottom;
   font-size: 2em;
   border-bottom: 2px solid black;
   width: 35px;
   text-align: center;
   margin-right: 6px;
   display: inline-block;
}
#letras{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 10px;
}
#letras button{
    width: 28px;
    padding: 6px 0;
    text-align: center;
}
#resultado{
 height: 10%;
 padding: 20px 0;
 font-size: 1.5em;

}


